.gpt__navbar-logo img {
	width: 62.56px;
	height: 62.56px;
	fill: #ffffff;
}

.navbar-links_container a,
.navbar-links_container p {
	color: white;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.gpt3__navbar-link {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	margin: auto;
}
.navbar-links_container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
}

.gpt3__header_btn {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: space-around;
}
.gpt3__header_btn p {
	color: #fff;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	text-transform: capitalize;
	margin: 0 1rem;
	cursor: pointer;
	text-align: right;
}
.gpt3__header_btn button {
	padding: 0.5rem 1rem;
	color: #fff;
	background: #ff4820;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
}
